.filter {
  position: relative;
  width: 12.5rem;
}
.filter__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12.5rem;
  height: 3rem;
  background-color: var(--elements);
  border-radius: var(--radius);
  font-size: .8rem;
  padding: 1rem;
  margin-bottom: .5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.filter__continents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 12.5rem;
  height: 0;
  background-color: var(--elements);;
  border-radius: var(--radius);
  padding: 0 1.5rem;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: height .4s ease-in;
}
.filter__continent {
  padding-top: .25rem;
  height: 1.5rem;
  font-size: .8rem;
  cursor: pointer;
}
.active {
  height: 9rem;
}